<%- include('head', { title: 'easyshort.gq' }) -%>

<section class="notfound">
    <center>
    <h1>404</h1>
    <h2>Not Found</h2>
    <p><span>easyshort.gq/<%= url %></span> isn't a valid link.</p>
    </center>
</section>
<%- include("footer") -%>
</body>