<%- include('head', { title: 'easyshort.gq' }) -%>

<section class="about">
    <h1>About us:</h1>
    <p>easyshort.gq is a simple, free and easy to use URL shortener.</p>
    <ul>
        <li>No ads</li>
        <li>100% free</li>
        <li>QR Code integration</li>
        <li>Made in Italy :)</li>
    </ul>
    <h1>Terms of Service:</h1>
    <ul>
        <li>No scam, spam, porn or illegal links</li>
    </ul>
</section>
<%- include("footer") -%>
</body>