<%- include('head', { title: 'easyshort.gq' }) -%>

<body>
    <h1>Database</h1>
    <form method="post" action="/opendb">
        <label for="psw">Password:</label><input type="text" id="psw" name="psw">
    </form>
</body>