<%- include('head', { title: 'easyshort.gq' }) -%>

<center>
    <form action="/getc" method="post" autocomplete="off">
        <h1>Get URL Stats</h1>
        <p>Let's see how many times your link has been opened!</p>
        <input type="text" name="url" id="url" placeholder="Insert your easyshort.gq URL here..." required><br>
        <button type="submit">Get stats</button>
        <% if(success) { %>
            <p>Your URL has <%= success %>!</p>
        <% } %>
        <% if(errors) { %>
            <p style="color: red;">The provided URL does not exist.</p>
        <% } %>
    </form>
</center>

<%- include("footer") -%>
</body>