<footer>
    <div class="d1">
        <p>Created with ❤️ by Alessandro</p>
    </div>
    <div class="d2">
        <p class="r">&copy;<a href="https://discord.com/channels/@me/936326517628219455/">ale_006#2527</a></p>
    </div>
</footer>