<%- include('head', { title: 'easyshort.gq' }) -%>

<center>
    <form action="/createurl" method="post" autocomplete="off">
        <h1>Let's short <br class="rss"> your link!</h1>
        <input type="url" name="url" id="url" placeholder="Paste here your long link..." required>
        <button>Short URL</button>
    </form>
</center>
<%- include("footer") -%>
</body>