<%- include('head', { title: 'easyshort.gq' }) -%>

<center>
    <form action="/createurl" method="post" autocomplete="off">
        <h1>Short your URL</h1>
        <p>Let's make your link more beautiful!</p>
        <input type="url" name="url" id="url" placeholder="Insert your long URL here..." required><br>
        <button type="submit">Short URL</button>
    </form>
</center>
<%- include("footer") -%>
</body>