<%- include('head', { title: 'easyshort.gq [TERMS]' }) -%>

<body>
    <img src="https://cdn-icons-png.flaticon.com/512/3214/3214679.png"><h1 onclick="home()">easyshort.gq</h1><h2>Simple, easy and free URL shortener.</h2>
    <p style="margin-top: 2em"><span class="title1"><b>Terms of Service</b></span></p>
    <p><span class="title2">To whom this service is addressed:</span></p>
    <ol>
        <li>Private users</li>
        <li>Small businesses</li>
    </ol>
    <p><span class="title2">Use for commercial purposes is prohibited:</span></p>
    <ol>
        <li>In case of use for commercial purposes, attribution is mandatory</li>
    </ol>
    <p><span class="title2">Don't abuse:</span></p>
    <ol>
        <li>Please don't abuse the service. excessive use could cause slowdowns or malfunctions</li>
    </ol>
</body>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
    body {
        user-select: none;
        font-family: 'Alatsi', sans-serif;
        background-color: #d7f1fa;
    }
    button {
        width: 17em;
        height: 3em;
        background-color: lightblue;
        border-radius: 100px;
        margin-top: 7em;
        border: 0.2em solid blue;
        text-decoration: solid;
        font-size: 1em;
        transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
    }
    button:hover {
        transform: scale(110%);
    }
    img {
        float: left;
        width: 3.5em;
        height: 3.5em;
        margin: 0.5em;
        margin-top: 1em;
        margin-right: 1.5em;
    }
    h1 {
        margin-top: 0em;
        font-size: 3em;
        margin-bottom: 0em;
    }
    h2 {
        margin-left: 6em;
        margin-top: 0em;
        font-size: 1em;
    }
    p {
        margin-left: 1em;
    }
    .title1 {
        font-size: 1.5em;
    }
    .title2 {
        font-size: 1.2em;
    }
</style>
<script>
    function home() {
        window.location.href = "/"
    }
</script>
</html>